
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&family=Libre+Caslon+Display&family=Ubuntu+Condensed&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

}

.header-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 15px;
    margin-left: 15px;
}

.header-tittle{
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold   ;
    font-size: 35px;
    background: linear-gradient(to right, #c3b9e0, #ecb6cd);
    -webkit-background-clip: text;
    color: transparent;  
    
}

.icons, header{
    z-index: 3;
}

/*  */
.noshow{
    display: none;
}

.header-container .icons .noshow{
    display: none;
}

.material-icons.md-30 { 
    font-size: 32px; 
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #e1c5f1;   
}
/*  */

/* General Nav  */

.navegacion{
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: bold   ;
    font-size: 20px;
    color: white;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.navegacion .nav-items{
    margin-top: 140px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    width: 290px;
}


.nav-items li{
    list-style: none;
    padding: 10px 0px;
}

.nav-items li a{
    text-decoration: none;
}


a:link, a:visited, a:active {
    color: white;
}



/* User & Shopping Car*/

.user{
    margin-top: 70px;
}

.shopping-car, .user{
    display: flex;
    justify-content: space-between;
}

.shopping-car, .user span{
    margin-right: 5px;
}

.circle{
    background-color: white;
    color: rgb(122, 117, 117);
    border-radius: 50%;
    font-weight: lighter;
    width: 20px;
    display: flex;
    justify-content: center;
}

.user i{
    color: white;
    font-weight: lighter;
    text-transform: capitalize;
    font-style: normal;
}

.material-icons-outlined.car, .u { 
    color: white;
}
/*  */

/*  Search box */

.nav-items li .material-icons-outlined.search{
    margin-right: 5px;
    font-size: 27px;
}

.search-box{
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box input{
    width: 200px;
    border: 0;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
}


/* SECTIONS */
.main-sections{
    margin-top: 20px; 
}


/* first section */

.first-section{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.cover-page img{
    width: 100%;
}

.first-section .buttom{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 2px;
    font-size: 13px;
    font-weight: lighter;

    position: absolute;
    bottom: 10px;
    right: 10px;
}

.first-section .buttom span{
    margin-right: 7px;
}

.material-icons.next{
    position: absolute;
    top: 47%;
    right: 10px;
    color: rgb(116, 111, 111);
}

.material-icons.previous{
    position: absolute;
    top: 47%;
    left: 10px;
    color: rgb(116, 111, 111);
}

.social-icons{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.social-icons img{
    width: 23px;
}


/* Second section */


























/* POSICION Y LAYOUT */  
/* VISIBILIDAD */
/* MODELO DE CAJA*/
/* TIPOGRAFIA */
/* VISUAL */
/* MISCELANEAS */
